.listing-header__btn {
  color: #fff;
  padding: 10px;
  font-size: 16px;
}
.listing-header__btn i {
  padding-right: 10px;
}
.carousel {
  margin: 0rem;
}
.viewMenu-button {
  margin-right: 30px;
}
.viewMenu-button a:hover {
  color: #fff !important;
}
.custom-btn {
  background-color: #fb5858;
}
.custom-btn a {
  color: #fff;
}
